<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onlinebookstore.mapper.BookStorageMapper">
    <sql id="baseBookStorage">
        id, b_id, last_add_time, residue_count
    </sql>

    <insert id="addBookStorage">
        insert into sys_book_storage(b_id, last_add_time, residue_count)
        values (#{bookId}, #{lastAddTime}, #{residueCount});
    </insert>

    <select id="selectStorageByBookId" resultType="com.onlinebookstore.entity.bookserver.BookStorage">
        select <include refid="baseBookStorage"/>
        from sys_book_storage
        where b_id = #{bookId};
    </select>

    <select id="selectStorageById" resultType="com.onlinebookstore.entity.bookserver.BookStorage">
        select <include refid="baseBookStorage"/>
        from sys_book_storage
        where id = #{id};
    </select>

    <update id="addStorageById">
        update sys_book_storage
        set residue_count = residue_count + #{count}
        where id = #{id};
    </update>

    <update id="subtractStorageById">
        update sys_book_storage
        set residue_count = residue_count - #{count}
        where id = #{id};
    </update>

    <insert id="insertStorage">
        insert into sys_book_storage(b_id, last_add_time, residue_count)
        values(#{bookId}, #{lastAddTime}, #{residueCount});
    </insert>

    <update id="updateStorage">
        update sys_book_storage
        set last_add_time = #{lastAddTime}, residue_count = #{residueCount}
        where id = #{id};
    </update>

    <delete id="deleteStorageById">
        delete from sys_book_storage
        where id = #{id};
    </delete>
</mapper>