<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onlinebookstore.mapper.OrderMapper">
<!--    <resultMap id="BaseOrderMap" type="com.onlinebookstore.entity.Order">-->
    <resultMap id="BaseOrderMap" type="com.onlinebookstore.entity.orderserver.Order">
        <id column="serial_number" property="serialNumber" jdbcType="VARCHAR"/>
        <result column="book_id" property="bookId" jdbcType="INTEGER"/>
        <result column="username_id" property="usernameId" jdbcType="VARCHAR"/>
        <result column="order_content" property="orderContent" jdbcType="VARCHAR"/>
        <result column="product_count" property="productCount" jdbcType="INTEGER"/>
        <result column="whole_price" property="wholePrice" jdbcType="INTEGER"/>
        <result column="obtain_score" property="obtainScore" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="payment_time" property="paymentTime" jdbcType="TIMESTAMP"/>
        <result column="delivery_time" property="deliveryTime" jdbcType="TIMESTAMP"/>
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
        <result column="order_payment_status" property="orderPaymentStatus" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="orderFields">
        serial_number, book_id, username_id, order_content, product_count, whole_price, obtain_score, create_time, payment_time, delivery_time, end_time, order_payment_status
    </sql>

    <select id="selectAll" resultMap="BaseOrderMap">
        select <include refid="orderFields"/>
        from sys_order;
    </select>

    <select id="selectAllByUsername" resultMap="BaseOrderMap">
        select <include refid="orderFields"/>
        from sys_order
        where username_id = #{username};
    </select>

    <select id="selectAllByBookId" resultMap="BaseOrderMap">
        select <include refid="orderFields"/>
        from sys_order
        where book_id = #{bookId};
    </select>

    <insert id="insertOrder" parameterType="com.onlinebookstore.entity.orderserver.Order">
        insert into sys_order(<include refid="orderFields"/>)
        values (#{serialNumber}, #{bookId}, #{usernameId}, #{orderContent}, #{productCount}, #{wholePrice}, #{obtainScore},
         #{createTime}, #{paymentTime}, #{deliveryTime}, #{endTime}, #{orderPaymentStatus});
    </insert>

    <update id="updateOrderStatus">
        update sys_order
        set order_payment_status = #{code}
        where serial_number = #{serialNumber};
    </update>

    <update id="updateOrder" parameterType="com.onlinebookstore.entity.orderserver.Order">
        update sys_order
        set book_id = #{bookId}, username_id = #{usernameId}, order_content = #{orderContent}, product_count = #{productCount},
            whole_price = #{wholePrice}, obtain_score = #{obtainScore}, create_time = #{createTime}, payment_time = #{paymentTime},
            delivery_time = #{deliveryTime}, end_time = #{endTime}, order_payment_status = #{orderPaymentStatus}
        where serial_number = #{serialNumber};
    </update>

    <delete id="deleteOrderBySerialNumber">
        delete from sys_order where serial_number = #{serialNumber};
    </delete>
</mapper>